.nav {
  display: none;
  top: 0;
  padding: 1rem 0;
  background: hsla(0, 0%, 100%, 0.6);
  backdrop-filter: blur(5px);
  z-index: 20;
  a {
    display: flex;
    gap: calc(var(--space-xs) / 2);
    align-items: center;
    color: #475569;
    transition: color 200ms ease-in-out;
    svg {
      width: 24px;
    }
    &:hover {
      color: #8b5cf6;
    }
  }
}

%bg-img-properties {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  &__coverEdit {
    @extend %bg-img-properties;
    text-align: center;
    margin-bottom: var(--space-x);
    background-color: #d9ebfc;
    padding-top: var(--space-x);
    height: 400px;
    background-attachment: fixed;
    display: grid;
    place-content: center;
    padding-inline: 1rem;
  }
  &__coverEditForm {
    background-image: url("../../public/images/form-tip-cover.png");
  }
  &__coverEditModern {
    background-image: url("../../public/images/css-modern-cover.png");
  }
  &__coverEditInner {
    max-width: 800px;
    margin: 0 auto;
  }
  &__title {
    text-align: left;
    font-size: 4.3rem;
    font-size: clamp(2rem, 0.8rem + 8vw, 4.3rem);
    color: white;
    line-height: 1.1;
    text-shadow: 0 1px 0 black;
  }
  & > *:not(:last-child) {
    margin-bottom: var(--space-xl);
  }
}

.main {
  background: white;
  transform: translateY(-100px);
  padding: 1rem;
  border: 1px dashed hsl(220 14% 94% / 1);
  border-bottom: 0;
  code {
    font-size: 1rem;
    color: #8b5cf6;
    background: hsl(258 90% 97% / 1);
    padding-inline: 0.5rem;
    border-radius: 4px;
  }
  pre {
    background: #f1f5f9;
    box-shadow: 0 1px 5px #391a7e38;
    border-radius: var(--border-radius);
    code {
      background: transparent;
      padding-inline: 0;
      border-radius: 0;
    }
  }

  & > * + * {
    margin-top: var(--space-x);
  }
  h2 {
    --space-x: 3rem;
  }
  img {
    border: 1px solid #e2e8f0;
    border-radius: var(--border-radius);
    /* outline: 1px dashed #a5b4fc; */
    /* outline-offset: 8px; */
    box-shadow: 0 6px 6px hsl(214 32% 94% / 1);
  }
  video {
    border: 1px solid #e2e8f0;
    border-radius: var(--border-radius);
    /* outline: 1px dashed #a5b4fc; */
    /* outline-offset: 8px; */
    box-shadow: 0 6px 6px hsl(214, 32%, 94%);
  }
}
.title {
  margin-top: var(--space-x);
  font-size: 3.4rem;
  line-height: 1;
}
.cover {
  border-radius: var(--border-radius);
}

.skeleton {
  display: flex;
  gap: var(--space-xs);
  padding: var(--space-xs);
  border-radius: var(--border-radius);
  background-color: white;
  width: 80%;
  height: 70%;
  box-shadow: 31px 128px 53px rgba(0, 0, 0, 0.01),
    17px 72px 45px rgba(0, 0, 0, 0.05), 8px 32px 33px rgba(0, 0, 0, 0.09),
    2px 8px 18px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  & > * {
    flex: 1;
  }
  &__container {
    height: 350px;
    background: #a5b4fc;

    background-image: url("../../public/images/bg-violet.png");
    display: grid;
    place-items: center;
    border-radius: var(--border-radius);
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__title {
    height: 1rem;
    background-color: #e2e8f0;
    border-radius: 50vh;
  }
  &__paragraph {
    height: 0.5rem;
    background-color: #e2e8f0;
    border-radius: 50vh;
  }
  &__img {
    height: 100%;
    background-color: #e2e8f0;
    border-radius: var(--border-radius);
  }

  &__grid {
    overflow: hidden;
    padding: var(--space-xs);
    border-radius: var(--border-radius);
    background-color: white;
    width: 80%;
    height: 70%;
    box-shadow: 31px 128px 53px rgba(0, 0, 0, 0.01),
      17px 72px 45px rgba(0, 0, 0, 0.05), 8px 32px 33px rgba(0, 0, 0, 0.09),
      2px 8px 18px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  &__item {
    width: 100%;
    height: 100%;
    background-color: #e2e8f0;
    border-radius: var(--border-radius);
    height: 3.5rem;
  }
}

.portada {
  position: relative;
  height: 350px;
  background: #a5b4fc;
  display: none;
  place-items: center;
  border-radius: var(--border-radius);
  & > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 500px) {
  .skeleton__container {
    height: 220px;
  }
  .title {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .main {
    transform: translateY(-50px);
  }
}

@media (max-width: 420px) {
  .header__coverEdit {
    height: 300px;
  }
  .main {
    background: white;
    transform: translateY(0px);
    padding: 0;
    border: 0;
  }
}
