@mixin flex($direction: row, $gap: var(--space-xs)) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

%bg-img-properties {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  background: hsla(0, 0%, 100%, 0.6);
  backdrop-filter: blur(5px);
  z-index: 20;
  a {
    display: flex;
    gap: calc(var(--space-xs) / 2);
    align-items: center;
    color: #475569;
    transition: color 200ms ease-in-out;
    svg {
      width: 24px;
    }
    &:hover {
      color: hsl(187, 50%, 45%);
    }
  }
}
.tableContent {
  padding: var(--space-xs);
  outline: 1px dashed #66c0cc;
  outline-offset: 8px;
  list-style: none;
  border-radius: var(--border-radius);

  &__title {
    display: flex;
    gap: calc(var(--space-xs) / 2);
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: var(--space-xs);

    svg {
      width: 24px;
      color: #66c0cc;
    }
  }

  li + li {
    margin-top: calc(var(--space-xs) / 2);
  }

  li > a {
    color: #475569;
    transition: color 200ms ease-in-out;
    &:hover {
      color: hsl(187, 50%, 45%);
    }
  }
}
.bg {
  background-color: hsl(187deg 50% 98%);
}
.sections > section {
  margin-top: var(--space-l);
}

.headingLarge {
  font-size: 3.4rem;
  line-height: 1;
}

.findings {
  padding: 0;
  list-style: none;
}

.usability__finding {
  @include flex($gap: var(--space-xs));
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: initial;
}

.usability__finding > * {
  flex: 1;
}

.usability__finding:not(:last-child) {
  margin-bottom: var(--space-l);
}

.usability__description {
  @include flex($direction: column, $gap: var(--space-xs));
  flex-basis: 275px;
  justify-content: center;
  padding: 0 var(--space-xs);
}

.usability__quote {
  position: relative;
  font-style: italic;
  margin-inline: auto;
  font-size: 1.1rem;
  max-width: 32ch;
  text-align: center;
}

.usability__quote > svg {
  position: absolute;
  width: 56px;
  height: 56px;
  left: -16px;
  top: -33%;
  z-index: -1;
}

.usability__quote > svg path {
  fill: #cdf4f9;
}

.revers-flow {
  flex-direction: row-reverse;
}

.header__description {
  position: relative;
  @extend %bg-img-properties;
  @include flex($direction: column, $gap: var(--space-l));
  //background-image: url("../../public/images/blue-noise.png");

  background-image: url("../../public/images/square-vagabundeando-variation.png");
  background-repeat: repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: 24px;
  padding: var(--space-m);
  border-radius: var(--border-radius);
  outline: 1px dashed #66c0cc;
  outline-offset: 8px;
}

.header__pin {
  position: absolute;
  top: -3rem;
  right: 0rem;
  width: 80px;
}
.header > * {
  margin-bottom: var(--space-xl);
}

.finding__imgContainer {
  flex: 1.5 370px;
}

.sections h3 + p,
.sections h2 + p {
  margin-top: var(--space-xs);
}

.sections p + img {
  margin-top: 2rem;
}

.sections:where(h2 + img, h3 + img, h2 + ul, img + p) {
  margin-top: var(--space-xs);
}

.cover {
  @extend %bg-img-properties;
  width: 100%;
  height: 462px;
  position: relative;
  background-image: url("../../public/images/blue-noise.png");
  overflow: hidden;
  border-radius: var(--border-radius);
  outline: 1px dashed #66c0cc;
  outline-offset: 8px;
}

.cover img {
  max-width: 386px;
}

.coverOne {
  position: absolute;
  bottom: -154px;
  left: -50px;
  z-index: 3;
}

.coverTwo {
  position: absolute;
  bottom: -200px;
  z-index: 2;
  left: 25%;
}

.coverThree {
  position: absolute;
  left: 50%;
  bottom: -250px;
}

.arrow__container {
  position: relative;
  margin-top: var(--space-xs);
  border-radius: var(--border-radius);
  outline: 1px dashed #66c0cc;
  outline-offset: 8px;
}

.arrowOne {
  top: 0;
  position: absolute;
  right: -12%;
  width: 80px;
}

.arrowTwo {
  position: absolute;
  top: 50%;
  left: -20%;
}

.arrowOne path,
.arrowTwo path {
  fill: #66c0cc;
}

.grid {
  --size: 180px;
  margin-top: var(--space-m);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--size), 1fr));
  gap: var(--space-m);
}

.outline__img {
  outline: 1px dashed #66c0cc;
  outline-offset: 8px;
  border-radius: var(--border-radius);
}

.mt {
  margin-top: var(--space-m);
}

.competidores {
  width: 100%;
  max-width: 520px;
  margin-inline: auto;
}

@media (max-width: 900px) {
  .arrowOne,
  .arrowTwo {
    display: none;
  }
}

@media (max-width: 692px) {
  .reverse__flow {
    flex-direction: column-reverse;
  }
  .reset__basis {
    flex-basis: auto;
  }
}

@media (max-width: 500px) {
  .cover {
    height: 350px;
  }
  .grid {
    --size: 130px;
  }
  .coverOne {
    left: -142px;
    bottom: -259px;
  }
  .coverTwo {
    bottom: -279px;
  }

  .headingLarge {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .header__pin {
    width: 58px;
  }
}
