@mixin flex($direction: row, $gap: var(--space-xs)) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}
.bg {
  background-color: hsl(215, 19%, 95%);
}
.header {
  @include flex($direction: column, $gap: var(--space-l));
  justify-content: center;
  position: relative;
  padding: 1rem;

  &__container {
    position: relative;
    display: grid;
    place-items: center;
    background-color: #fef8dc;
    background-image: url("../../public/images/square.svg");
    background-repeat: repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    min-height: 100vh;
  }
  &__overflowHidden {
    overflow: hidden;
    & > span {
      display: inline-block;
    }
  }
  &__clippy {
    overflow: hidden;
    display: block;
  }
  &__firstLine {
    font-size: clamp(2.8rem, 9vw + 1rem, 7.2rem);
    display: inline-block;
  }
  &__secondLine {
    font-size: clamp(2.8rem, 9vw + 1rem, 7.2rem);
    display: flex;
    gap: var(--space-x);
    align-items: flex-start;
    > img {
      width: clamp(2.6rem, 9vw + 1rem, 7.2rem);
      height: auto;
      object-fit: contain;
    }
  }
  &__text {
    & > p {
      max-width: 600px;
    }
    & > h1 {
      line-height: 1.1;
      color: #4b2407;
      --bg-size: 400%;
      --color-one: #0f172a;
      --color-two: #475569;
      /*
      background: linear-gradient(
          90deg,
          var(--color-one),
          var(--color-two),
          var(--color-one)
        )
        0 0 / var(--bg-size) 100%;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      animation: move-bg 8s infinite linear;
      */
    }
  }
  &__subtitle {
    font-size: 1.5rem;
    line-height: 1.1;
  }
  &__svg {
    display: none;
    position: absolute;
    top: 35%;
    right: -206px;
    transform: translateY(-50%);
    z-index: -1;
  }
  &__svgLeft {
    display: none;
    left: -94px;
    bottom: 20%;
    z-index: -1;
    position: absolute;
  }
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

.caseStudies {
  @include flex($direction: column, $gap: var(--space-xl));
  &__container {
    @include flex($gap: var(--space-xs));
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: var(--space-xs);
    flex-wrap: wrap;
  }
  &__title {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 500;
  }
  &__link {
    color: #0f172a;
    position: relative;
    display: flex;
    gap: calc(var(--space-xs) / 2);
    align-items: center;
    svg {
      width: 24px;
    }
    &::before {
      display: inline-block;
      content: "";
      background: #0f17291a;
      width: 6rem;
      height: 6rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      z-index: -1;
      border-radius: 50vh;
      transition: transform 350ms ease-out;
    }
    &::after {
      display: inline-block;
      content: "";
      background: #0f17291a;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      z-index: -1;
      border-radius: 50vh;
      transition: transform 350ms ease-out;
    }
    &:hover::after {
      transform: translate(-50%, -50%) scale(0.9);
    }
    &:hover::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &__img {
    margin-top: var(--space-xs);
  }
}
.section__home {
  margin-top: 6rem;
}
.title__special {
  font-family: var(--poppins-font);
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  color: #475569;
  &::after {
    content: "";
    display: inline-block;
    height: 1px;
    background-color: #cbd5e1;
    width: 100%;
  }
}

.covers {
  border-radius: var(--border-radius);
}

.mt__reset {
  margin-top: 0;
}
.squarePhoto {
  position: absolute;
  top: 4%;
  left: 25px;
  border: 8px;

  /*
  border-width: 15px;
  border-style: solid;
  border-color: hsl(21 92% 20% / 1) #92400e #7c2d12 #92400e;
  background-image: linear-gradient(#e5e4df00, #cdcdc68f);
  */

  overflow: hidden;
  &__hidden {
    display: none;
    z-index: 50;
    position: relative;
    width: fit-content;
  }
  img {
    pointer-events: none;
    width: 215px;
    border-radius: 0;
  }
}
.stickyNote {
  width: 12rem;
  overflow: hidden;
  font-family: inherit;
  color: #6b7280;
  padding: 1rem;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 0 0 100px 0/50px 100px 12px;
  box-shadow: 10px 19px 9px rgba(0, 0, 0, 0.01),
    6px 11px 7px rgba(0, 0, 0, 0.05), 3px 5px 5px rgba(0, 0, 0, 0.09),
    1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.3),
      -3px 3px 5px rgba(0, 0, 0, 0.3);
    right: 20px;
    bottom: 0px;
    transform: skew(-75deg, 30deg) rotate(-10deg);
  }
  &__violet {
    background-color: #a5b4fc;
    bottom: 16%;
    right: 25px;
  }
  &__red {
    background-color: #fda4af;
    bottom: 12%;
    right: 50px;
  }
  &__blue {
    background-color: #86efac;
    bottom: 8%;
    right: 75px;
  }
  &__morad {
    background: #d8b4fe;
    bottom: 4%;
    right: 100px;
  }
}
@media (max-width: 980px) {
  .stickyNote {
    display: none;
  }
  .squarePhoto {
    display: none;
  }
  .squarePhoto__hidden {
    display: block;
    img {
      border-radius: 0;
      width: clamp(100px, 6vw + 1rem, 220px);
    }
  }
}

@media (max-width: 500px) {
  .caseStudies__title {
    font-size: 2rem;
  }
  .header__subtitle {
    font-size: 1.1rem;
  }
  .caseStudies {
    gap: var(--space-x);
  }
}
