.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  position: relative;
  min-height: 100vh;
}

.header__firstLine {
  display: inline-block;
}

.header__secondLine {
  display: flex;
  gap: 1rem;
}

.header__secondLine > img {
  width: clamp(3.5rem, 14vw + 1rem, 8rem);
  height: auto;
  object-fit: contain;
}

.header__text > p {
  max-width: 600px;
}
.header__text > h1 {
  font-size: clamp(3.5rem, 14vw + 1rem, 8rem);
  line-height: 1.1;
}
.header__subtitle {
  font-size: 1.5rem;
  line-height: 1.1;
}
.header__svg {
  display: none;
  position: absolute;
  top: 35%;
  right: -206px;
  transform: translateY(-50%);
  z-index: -1;
}

.header__svgLeft {
  display: none;
  left: -94px;
  bottom: 20%;
  z-index: -1;
  position: absolute;
}

.caseStudies {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.caseStudy__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.caseStudy__description {
  max-width: 419px;
}

.caseStudy__title {
  font-size: 44px;
  line-height: 1.1;
  font-weight: 500;
}

.caseStudy__link {
  color: #0f172a;
  position: relative;
}
.caseStudy__link::before {
  display: inline-block;
  content: "";
  background: #0f17291a;
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  border-radius: 50vh;
  transition: transform 350ms ease-out;
}
.caseStudy__link::after {
  display: inline-block;
  content: "";
  background: #0f17291a;
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  border-radius: 50vh;
  transition: transform 350ms ease-out;
}

.caseStudy__link:hover::after {
  transform: translate(-50%, -50%) scale(0.9);
}

.caseStudy__link:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.caseStudy__img {
  margin-top: 1rem;
}

.covers {
  border-radius: 12px;
}

.mt__reset {
  margin-top: 0;
}

@media (max-width: 500px) {
  .caseStudy__title {
    font-size: 2rem;
  }
}
