@mixin flex($direction: row, $gap: var(--space-xs)) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

%bg-img-properties {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: none;
  max-width: 800px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  padding: 1rem 0;
  background: hsla(0, 0%, 100%, 0.6);
  backdrop-filter: blur(5px);
  z-index: 20;
  a {
    display: flex;
    gap: calc(var(--space-xs) / 2);
    align-items: center;
    color: #475569;
    transition: color 200ms ease-in-out;
    svg {
      width: 24px;
    }
    &:hover {
      color: #a97612;
    }
  }
}

.section + .section {
  margin-top: 2rem;
}

.section__inner p {
  --section-spacing: 1rem;
}
.section > * + * {
  margin-top: 2rem;
}
.section__inner > * + * {
  --section-spacing: 2rem;
  margin-top: var(--section-spacing);
}

.tableContent {
  display: none;
  padding: var(--space-xs);
  outline: 1px dashed #135aec;
  outline-offset: 8px;
  list-style: none;
  border-radius: var(--border-radius);

  &__title {
    display: flex;
    gap: calc(var(--space-xs) / 2);
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: var(--space-xs);

    svg {
      width: 24px;
      color: #135aec;
    }
  }

  li + li {
    margin-top: calc(var(--space-xs) / 2);
  }

  li > a {
    color: #475569;
    transition: color 200ms ease-in-out;
    &:hover {
      color: #135aec;
    }
  }
}
.finalDesign {
  &__video {
    margin-top: var(--space-xs);
    padding: var(--space-xs);
    background: #d9ebfc;
    border-radius: var(--border-radius);
  }
  &__block + &__block {
    margin-top: var(--space-l);
  }
}

.header {
  &__coverEdit {
    @extend %bg-img-properties;
    text-align: center;
    margin-bottom: var(--space-xl);
    background-color: #d9ebfc;
    padding-top: var(--space-x);
    background-image: url("../../public/images/mercantil-bg.png");
  }
  &__coverEditInner {
    max-width: 800px;
    margin: 0 auto;
  }
  &__title {
    font-size: 3.4rem;
    line-height: 1.1;
    margin-bottom: var(--space-x);
  }
  & > h1 {
    font-size: 3.4rem;
    line-height: 1.1;
  }

  & > *:not(:last-child) {
    margin-bottom: var(--space-xl);
  }

  &__pin {
    position: absolute;
    top: -3rem;
    right: 0rem;
    width: 80px;
  }

  &__description {
    @extend %bg-img-properties;
    @include flex($direction: column, $gap: var(--space-l));
    position: relative;
    background-color: #fffceb;
    background-image: url("../../public/images/blue-square.png");
    background-repeat: repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: 24px;
    padding: var(--space-m);
    border-radius: var(--border-radius);
    outline: 1px dashed #0a5398;
    outline-offset: 6px;
  }

  &__subtitle::before {
    width: 0.5rem;
    height: 2.2rem;
    background-color: #a97612;
    margin-right: var(--space-xs);
    display: inline-block;
    border-radius: 4px;
  }
}

.score {
  position: relative;
  overflow: hidden;
  padding: var(--space-xs);
  border-radius: var(--border-radius);
  background-color: #d9ebfc;
  svg {
    opacity: 0.25;
    width: 200px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(35%, -50%);
    color: #0a5398;
  }
  &__container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    gap: var(--space-xs);
    & > * {
      flex: 175px 1;
    }
  }
  &__number {
    color: #0a5398;
    font-size: 2.9rem;
    font-weight: 700;
  }
  &__description {
    margin: 0;
  }
}

.reviews {
  display: flex;
  gap: var(--space-xs);
  align-items: flex-end;

  &__reverse {
    flex-direction: row-reverse;
  }

  &__container {
    padding: var(--space-xl);
    background: #d9ebfc;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    align-items: center;
    border-radius: var(--border-radius);
  }
  &__text {
    position: relative;
    padding: 1rem;
    font-size: 0.8rem;
    border-radius: 32px;
    border-bottom-left-radius: 0;
    background-color: white;
    border: 1px solid #f1f5f9;
    max-width: 400px;
    box-shadow: 4px 23px 9px rgba(0, 0, 0, 0.01),
      2px 13px 8px rgba(0, 0, 0, 0.03), 1px 6px 6px rgba(0, 0, 0, 0.05),
      0px 1px 3px rgba(0, 0, 0, 0.06), 0px 0px 0px rgba(0, 0, 0, 0.06);
    &::before {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      position: absolute;
      bottom: 0;
      left: -2rem;
      background-color: red;
    }
    p {
      margin: 0;
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.3;
      path {
        fill: #38bdf8;
      }
    }
  }
  & img {
    max-width: 6.5rem;
  }
  &__border {
    border-radius: 32px;
    border-bottom-right-radius: 0;
  }
}

@media (max-width: 500px) {
  .reviews__container {
    padding: var(--space-xs);
  }
  .header__title {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .header__pin {
    width: 42px;
    top: -2rem;
  }
}
