@mixin flex($direction: row, $gap: var(--space-xs)) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

%bg-img-properties {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  background: hsla(0, 0%, 100%, 0.6);
  backdrop-filter: blur(5px);
  z-index: 20;
  a {
    color: #475569;
    transition: color 200ms ease-in-out;
    &:hover {
      color: #a97612;
    }
  }
}
.tableContent {
  padding: var(--space-xs);
  outline: 1px dashed #a97612;
  outline-offset: 8px;
  list-style: none;
  border-radius: var(--border-radius);

  &__title {
    display: flex;
    gap: calc(var(--space-xs) / 2);
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: var(--space-xs);

    svg {
      width: 24px;
      color: #a97612;
    }
  }

  li + li {
    margin-top: calc(var(--space-xs) / 2);
  }

  li > a {
    color: #475569;
    transition: color 200ms ease-in-out;
    &:hover {
      color: #a97612;
    }
  }
}
.bg {
  background-color: hsl(48deg 100% 98%);
}
.header {
  & > h1 {
    font-size: 3.4rem;
    line-height: 1.1;
  }

  & > *:not(:last-child) {
    margin-bottom: var(--space-xl);
  }

  &__description {
    @extend %bg-img-properties;
    @include flex($direction: column, $gap: var(--space-l));
    background-color: #fffceb;
    background-image: url("../../public/images/cover-noise.png");
    padding: var(--space-m);
    border-radius: var(--border-radius);
    outline: 1px dashed #a97612;
    outline-offset: 6px;
  }

  &__subtitle::before {
    content: "";
    width: 0.5rem;
    height: 2.2rem;
    background-color: #a97612;
    margin-right: var(--space-xs);
    display: inline-block;
    border-radius: 4px;
  }
}

.container > section {
  margin-top: var(--space-xl);
}

.cover {
  width: 100%;
  object-fit: cover;
}

.cover__img {
  @extend %bg-img-properties;
  width: 100%;
  height: 462px;
  background-color: #fffceb;
  background-image: url("../../public/images/cover-noise.png");
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  outline: 1px dashed #a97612;
  outline-offset: 6px;
}

.one {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.two {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(30%);
  color: transparent;
}
.three {
  position: absolute;
  bottom: -10px;
  right: 50%;
  transform: translateX(-30%);
}
.usability {
  &__findings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);
    padding: var(--space-m) 0;
    border-radius: 6px;
  }

  &__description {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-xs);
    gap: var(--space-xs);
    flex-basis: 350px;
  }

  &__quote {
    max-width: 35ch;
    font-style: italic;
    font-size: 1.6rem;
    color: #a97612;
  }

  &__img {
    max-width: 314px;
    border-radius: 12px;
    box-shadow: 97px 150px 72px rgba(0, 0, 0, 0.01),
      55px 84px 60px rgba(0, 0, 0, 0.05), 24px 38px 45px rgba(0, 0, 0, 0.09),
      6px 9px 25px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

    &::before {
      content: "";
      display: inline-block;
      width: 50%;
      height: 50%;
      aspect-ratio: 1;
      border-radius: 50vh;
      background-color: #fffceb;
    }
  }

  &__text {
    display: flex;
    gap: calc(var(--space-xs) / 2);
    align-items: center;

    &::before {
      content: "";
      width: 0.5rem;
      height: 2rem;
      background-color: #a97612;
      display: inline-block;
      border-radius: 4px;
    }
  }
}

.arrowOne {
  right: 0;
  width: 80px;
  position: absolute;
  transform: rotate(107deg);
  top: 32px;
}

.arrowOne > path,
.arrowTwo > path {
  fill: #a97612;
}

.arrowTwo {
  width: 89px;
  position: absolute;
  top: 80px;
  left: 0;
}

.refine {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: var(--space-m);
}

.refine > div {
  flex: 2;
}
.refine > p::before {
  content: "";
  width: 0.5rem;
  height: 2rem;
  background-color: #a97612;
  display: inline-block;
  border-radius: 4px;
}

.refine > p {
  flex: 1;
  display: flex;
  gap: calc(var(--space-xs) / 2);
  align-items: flex-start;
}

.refine__container {
  position: relative;
}
.refine__arrow {
  width: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.nextSteps {
  @extend %bg-img-properties;
  color: #fffbeb;
  padding: 2rem;
  border-radius: 12px;
  background-image: url("../../public/images/nextSteps.png");
  position: relative;
}

.nextSteps > ul {
  max-width: 40ch;
}
.nextSteps > h2 {
  color: #fffbeb;
}

.icon__heading {
  display: flex;
  gap: calc(var(--space-xs) / 2);
  align-items: center;
}

.icon__heading span {
  padding: calc(var(--space-xs) / 2) var(--space-xs);
  background-color: #fffceb;
  border-radius: calc(var(--border-radius) / 2);
}

.icon__heading span svg {
  width: 32px;
  color: #a97612;
}

.grid {
  --size: 180px;
  margin-top: var(--space-m);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--size), 1fr));
  gap: var(--space-m);
}

.container h3 + p {
  margin-top: var(--space-xs);
}

.coverTwo {
  @extend %bg-img-properties;
  height: 300px;
  border-radius: var(--border-radius);
  background-image: url("../../public/images/banner-2.png");
  display: grid;
  place-items: center;
  text-align: center;
  padding: var(--space-xs);
}
.coverTwo > h2 {
  color: #fffbeb;
}

.section > * + p,
.section > p + ul {
  margin-top: var(--space-xs);
}

.section h3 + img,
.section p + img,
.section article + article,
.section p + article {
  margin-top: var(--space-m);
}

.section ul {
  list-style: none;
}

.section ul li::before {
  @extend %bg-img-properties;
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: calc(var(--space-xs) / 2);
  background-image: url("../../public/images/misc.png");
}

@media (max-width: 760px) {
  .usability__findings {
    justify-content: center;
  }
  .usability__description {
    flex-basis: auto;
  }
  .arrowOne,
  .arrowTwo {
    display: none;
  }

  .reverseFlow {
    flex-direction: column-reverse;
  }
}

@media (max-width: 500px) {
  .grid {
    --size: 130px;
  }
  .header > h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .cover__img {
    height: 350px;
  }
  .coverTwo {
    height: 250px;
  }
}
