.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  &__logo {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: var(--lora-font);
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    transition: all 250ms ease-in-out;
    &:hover {
      background: #6c370e;
    }
    svg {
      width: 32px;
    }
  }
  &__container {
    position: sticky;
    padding: var(--space-xs);
    background-color: hsl(26deg 83% 16% / 100%);
    border-bottom: 2.5px solid hsl(26deg 83% 16% / 40%);
    color: white;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 3px 12px #00000047;
  }
  &__links {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
    li {
      margin: 0;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  h3 {
    margin: 0;
    color: white;
  }
}

.active {
  background: #6c370e;

  border-radius: 12px;
}

@media (max-width: 500px) {
  .navbar__container {
    display: none;
  }
}
