.footer__container {
  margin-top: var(--space-m);
  overflow: hidden;
  position: relative;
  padding: 2rem 0;
  --bg-size: 400%;
  --color-one: #0f172a;
  --color-two: #475569;
  background: var(--color-one);
  background-image: url("../../../public/images/footer.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__container::before {
  content: "";
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-75%);
  display: inline-block;
  background: white;
  border-radius: 26px;
  z-index: 4;
  box-shadow: 0 2px 8px hsl(222deg 47% 11%),
    0 15px 32px hsl(222deg 47% 11% / 80%);
}
.footer {
  padding: var(--space-xl) var(--space-x) var(--space-x) var(--space-x);
  margin-inline: auto;
  max-width: 800px;
}
.footer h2 {
  color: white;
}
.footer__list {
  gap: 2rem;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 2rem 0;
}
.footer__item {
  font-size: 32px;
  line-height: 1;
  margin: 0;
}
.footer__email {
  font-size: 32px;
  color: white;
}

.footer__item > a {
  color: white;
}
@media (max-width: 500px) {
  .footer__email,
  .footer__item {
    font-size: 20px;
  }
  .footer {
    padding-bottom: 5rem;
  }
}
