.footer {
  padding: 6rem 0 4rem 0;
}
.footer__list {
  gap: 2rem;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 2rem 0;
}
.footer__item {
  font-size: 32px;
  line-height: 1;
}
.footer__email {
  font-size: 32px;
  color: #0f172a;
}
